# Python
__pycache__/
*.pyc

# Virtual env
.venv/

# Reports / outputs
reports/
.streamlit_uploads/

# Local test CSV files
domo_*.csv
informatica_*.csv
DICT_*.csv
SYSTEM_*.csv
UPC*.csv
*.xlsx
*.zip

# Old projects
prices-validator-base/

# OS / editor
.DS_Store
Thumbs.db
.vscode/


# Old projects
prices-validator-base/

# Membership test files
Membership/

# OS / editor
.DS_Store
Thumbs.db
.vscode/